    <fieldset class="container" style="margin:5%">
      <form class="form-group" action={{form.endpoint}} method="POST">
        {{form.title}}:
        <input type="text" name="title" />
        {{form.price}}:
        <input type="text" name="price" />
        {{form.link}}:
        <input type="text" name="link" />
        <button class="btn btn-primary">Enviar</button>
      </form>
    </fieldset>
    <div>
         <div>
      <table class="table">
          <tr>
            <th class="text-center">Titulo</th>
            <th class="text-center">Precio</th>
            <th class="text-center">imagen</th>
          </tr> 
          {{#each response}}
          <tr>
            <td class="text-center">{{this.title}}</td>
            <td class="text-center">{{this.price}}</td>
            <td class="text-center"><img src={{this.link}} width="10%"></td>
          </tr>
        {{/each}}
      </table>
    </div>
    <div class="container chatContainer">
      <div class="sendMessage">
        <h3>Mensajes:</h3>
      <div id="messages"></div>  
      </div>
      <div class="form-group sendMessage">
        <input type="email" name="email" id="email" required>
        <textarea type="text" name="message" id="message"></textarea>
        <button class="btn btn-primary" onclick="sendMessage()">Enviar</button>
      </div>
    </div>
    </div>